


   <!-- NAVBAR -->
   <div class="container">
   <div class="navbar justify-content-between bg-gray-400 border rounded-3xl ">
   
    <a href="https://en.wikipedia.org/wiki/David_Tipper" class="no-underline">
        
        <i alt="link to Dave Tipper wikipedia" class="no-underline pr-5 fa-solid fa-block-question fa-2xl" style="color:rgb(99, 102, 241)"></i>
    </a>
        
        <a href="/" class="no-underline text-indigo-800 font-extrabold xl:inline text-xl">Festivals Wiki</a>
        

    
    <% if (user) { %>
      
        <a href="/profile" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Profile</a>

        <a href="/feed" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Events Library</a>
        
          <a href="/event/createEvent" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Add an Event</a>

          <a href="/logout" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Logout</a>

        <%} else { %>

          <a href="/login" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Login</a>

          <a href="/signup" class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Sign Up</a>

        <% } %>
      
  </div>
</div>
<!-- NAVBAR END -->

          