<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>


<main class="container text-center font-mono ">
    <h1 class="font-mono text-indigo-600">404: No Dice</h1>
    <p class="font-mono font-bold">Dave's not here, man.</p>
    <a href="/" class="no-underline font-mono">go back</a>
    <img class="p-4 justify-content-between " src="imgs/404.jpeg"></img>
</main>

<footer>

<%- include('partials/footer') %>
</footer>

</body>
</html>