<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

   <header>
   <%- include('partials/header'); %>
   </header>

<main>
   <div class="container">
      <div class="px-10 py-14 bg-indigo-900 text-indigo-200 rounded-3xl">

         <h2>Add an event:</h2>
    
            <form action="/event/createEvent" enctype="multipart/form-data" method="POST">
       <div class="mb-3">
          <label for="eventName" class="form-label">Official Event Name</label>
          <input type="text" class="form-control" id="eventName" name="eventName">
       </div>
       <div class="mb-3">
          <label for="nickName" class="form-label">Fan Name or Nickname (you choose!)</label>
          <input type="text" class="form-control" id="nickName" name="nickName">
       </div>



       <div class="mb-3">
          <label for="type" class="form-label">Event Type:</label>
          <span>(indoor, outdoor, theater)</span>
          <input type="text" class="form-control" id="type" name="type">
         
        
        </div>

       <div class="mb-3">
          <label for="venue" class="form-label">Venue</label>
          <input type="text" class="form-control" id="venue" name="venue">
       </div>
       <div class="mb-3">
          <label for="location" class="form-label">Location (City, State)</label>
          <input type="text" class="form-control" id="location" name="location">
       </div>
       <div class="mb-3">
          <label for="setCount" class="form-label">Set Count (...if you can count 'em!)</label>
          <input type="text" class="form-control" id="setCount" name="setCount">
       </div>
       <div class="mb-3">
          <label for="startDate" class="form-label">First day of event:</label>
          <input type="date" value="2019-04-19" class="form-control" id="startDate" name="startDate">
       </div>
       <div class="mb-3">
          <label for="endDate" class="form-label">Last day of event:</label>
          <input type="date" value="2019-04-20" class="form-control" id="endDate" name="endDate">
       </div>
       <div class="mb-3">
          <label for="caption" class="form-label">Want to include any notes about the event or the photo?</label>
          <textarea class="form-control" id="caption" name="caption"></textarea>
       </div>
       <div class="mb-3">
          <label for="imgUpload" class="form-label">Choose one image to summarize your experience:</label>
          <input type="file" class="form-control" id="file" name="file">
       </div>

         <button type="submit" class="btn bg-white fa-sharp fa-door-open" style="color:rgb(61 41 222)" value="Upload"> Submit</button>
       </form>
 </div>
</div>
</div> 


</main>

<footer>

<%- include('partials/footer') %>
</footer>


</html>