<%- include('partials/header') -%>

<div class="mx-48 my-6 px-64 py-24 bg-indigo-900 text-indigo-200 rounded-3xl">
   <div class="container">
    <h2>Add an event:</h2>
    <p></p>
    <form action="/event/createEvent" enctype="multipart/form-data" method="POST">
       <div class="mb-3">
          <label for="eventName" class="form-label">Official Event Name</label>
          <input type="text" class="form-control" id="eventName" name="eventName">
       </div>
       <div class="mb-3">
          <label for="nickName" class="form-label">Fan Name or Nickname (you choose!)</label>
          <input type="text" class="form-control" id="nickName" name="nickName">
       </div>



       <div class="mb-3">
          <label for="type" class="form-label">Event Type:</label>
          <span>(indoor, outdoor, theater)</span>
          <input type="text" class="form-control" id="type" name="type">
         
        
        </div>

       <div class="mb-3">
          <label for="venue" class="form-label">Venue</label>
          <input type="text" class="form-control" id="venue" name="venue">
       </div>
       <div class="mb-3">
          <label for="location" class="form-label">Location (City, State)</label>
          <input type="text" class="form-control" id="location" name="location">
       </div>
       <div class="mb-3">
          <label for="setCount" class="form-label">Set Count (how many sets did Dave play? how many did you actually catch?)</label>
          <input type="text" class="form-control" id="setCount" name="setCount">
       </div>
       <div class="mb-3">
          <label for="startDate" class="form-label">First day of event:</label>
          <input type="date" value="2019-04-19" class="form-control" id="startDate" name="startDate">
       </div>
       <div class="mb-3">
          <label for="endDate" class="form-label">Last day of event:</label>
          <input type="date" value="2019-04-20" class="form-control" id="endDate" name="endDate">
       </div>
       <div class="mb-3">
          <label for="caption" class="form-label">Notes</label>
          <textarea class="form-control" id="caption" name="caption"></textarea>
       </div>
       <div class="mb-3">
          <label for="imgUpload" class="form-label">Choose one image to summarize your experience:</label>
          <input type="file" class="form-control" id="file" name="file">
       </div>
       <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 elative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900  group-hover:bg-opacity-0" value="Upload">Submit</a>
       </form>
 </div>
</div>
</div> 

<%- include('partials/footer') -%>