<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
    </head>

<body class="pt-0 bg-gray-800">
    <header>
    <%- include('partials/header') -%>
</header>
<div class="container hero min-h-screen rounded-3xl bg-indigo-100">
    <div class="hero-content flex-col lg:flex-row-reverse">


        <img src="imgs/emptyStage.jpeg" class="max-w-xs rounded-lg shadow-2xl" />
        <div>
            <h1 class="text-5xl font-bold tracking-tight text-gray-900">
                <span class="block text-indigo-600 xl:inline">FESTIVALS WIKI</span>
                
                <span class="block text-black xl:inline">Crowd-sourced event database</span>
                <span class="block text-indigo-600 xl:inline">...because who can remember?</span>
            </h1>
            
            <p class="py-6 font-mono text-sm text-gray-500">You know when you have a memory of a festival but your brain simply cannot recall the correct year or venue, no matter how hard you try? SHEESH! Search engines often fail to deliver accurate information about smaller events. Social media posts get buried. People forget. But not anymore! Festivals Wiki is a collection of event data for your own reference or for you to share with your crew.</p>
    
            <div class="sm:mt-3 sm:mb-6 sm:flex sm:justify-center lg:justify-start items-center">
                <div class="rounded-sm shadow">
                    <a href="/signup" class="no-underline w-full justify-center rounded-md bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg">Sign Up</a>
                </div>
                <div class="rounded-sm shadow">
                    <a href="/login" class="no-underline w-full justify-center rounded-md bg-white px-8 py-3 text-base font-medium text-indigo-700 hover:bg-indigo-200 md:py-4 md:px-10 md:text-lg">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>


        <%- include('partials/footer') -%>
    </footer>
</body>

</html>